.main {
    max-width: 800px;
    width: 100%;
    position: fixed;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boutton {
    height: 40px !important;
    width: 100%;
    font-weight: 600 !important;
    color: #fff !important;
    border-color: #19b3a3 !important;
    background-color: #19b3a3 !important;
}
.modal {
    overflow: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paper {
    position: absolute;
    top: 0;
    width: 95%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
}
.paper:focus {
    outline: none;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #8c8c8c;
    padding: 10px 20px;
}
.title {
    float: left;
    text-align: center;
    font-family: Raleway, sans-serif !important;
    font-weight: 500;
    font-size: 18px;
}
.body {
    padding: 0 30px;
    font-family: open sans, sans-serif;
}

.content {
    padding: 0px !important;
    padding-bottom: 24px !important;
    width: 100%;
}
.footer {
    padding: 0 50px;
    padding-bottom: 40px;
}
.text {
    color: #8c8c8c;
    margin-left: 20px;
    margin-bottom: 20px;
}
.back {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    left: 10px;
}
.back:hover {
    cursor: pointer;
}
.close {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 30px;
    right: 10px;
}
.close:hover {
    cursor: pointer;
}
.textarea {
    width: 100%;
    margin-top: 5px;
}

.menuBar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.menuBar div div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBar div span {
    background-color: transparent;
    display: contents;
}
.textmenu {
    color: #8c8c8c;
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}
.menu {
    min-height: 40px !important;
    height: 50px;
    border: 1px solid #ccc !important;
    color: #8c8c8c !important;
}
.menuleft {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.menuright {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.menu:focus {
    background-color: #19b3a3;
    color: #fff !important;
    border: 1px solid #19b3a3 !important;
}
.activeTab {
    background-color: #19b3a3 !important;
    color: #fff !important;
    border: 1px solid #19b3a3 !important;
}
.tabPanel {
    padding: 10px 0px !important;
}
.tabPanel div {
    padding: 0px;
}
.autocompleted div button {
    float: right;
}
.center {
    text-align: center;
}
.contentfinish {
    background-color: #f4ffee;
    width: 100%;
    padding: 20px;
}
.bloctext {
    padding: 0 50px 0px 50px;
}
.footerEnd {
    width: 100%;
    border-top: 1px solid #8c8c8c;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonReset {
    margin: 15px !important;
    border: 1px solid #b5b5b5 !important;
}
.centerlink {
    text-align: center;
    color: #41708c;
}
.phoneInput {
    width: 100% !important;
    padding: 18.5px 14px 17.5px 52px !important;
}
.MuiChecked {
    color: #19b3a3 !important;
}
.colorPrimary {
    color: #19b3a3 !important;
}
.track {
    background-color: #19b3a3 !important;
}
@media (max-width: 450px) {
    .menu {
        font-size: 10px !important;
    }
    .boutton span {
        font-size: 10px !important;
    }
    .textmenu {
        padding: 0px !important;
        margin-left: 5px !important;
    }
    .container > div {
        padding: 4px !important;
    }
}
@media (max-width: 400px) {
    .body {
        padding: 5px;
        font-family: open sans, sans-serif;
    }
    .content div {
        width: 100%;
        margin: 0px;
    }
    .tabpanelBox {
        padding: 0px !important;
    }
}
.ohnohoney {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
